/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Container */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background: url('../images/green-trees-near-lake-cloudy-sky-daytime.jpg') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}